body {
    margin: 0;
}


.header {
    margin: 0;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: red;
}

nav {
    background-color: orange;
    padding: 10px;
    text-align: center;
}

a {
    color: white;
    padding: 10px;
}

h2 {
    margin: 0;
    padding: 20px;
    color: white;
}

ul, ol {
    color: white;
    padding: 30px;
}

li {
    padding: 5px;
}


main {
    background-color: green;
    padding:10px 0;
}

article {
    background-color: blue;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin: 0;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: purple;
}


